.container {
  padding-top: 20px;
}
#mapid {
  height: 300px;
  width: 280px;
}

@media (min-width: 450px) {
  #mapid {
    height: 300px;
    width: 360px;
  }

@media (min-width: 768px) {
  #mapid {
    height: 400px;
    width: 630px;
  }

@media (min-width: 992px) {
  #mapid {
    height: 450px;
    width: 800px;
  }

@media (min-width: 1200px) {
  #mapid {
    height: 480px;
    width: 980px;
  }